body{
 font-family: Arial, Helvetica, sans-serif;
 background-image: linear-gradient(to bottom right, rgb(54, 0, 68) , black, black, rgb(54, 0, 68));
 
}

#t2{
    color: aliceblue;
    margin-left: 202px;
}

#t1{
    text-align: center;
}

p{
    color:grey;
    text-align: justify;
    margin-left: 202px;
    margin-bottom: 20px;
}

button{
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 30px; 
    background-image:linear-gradient(to right, rgb(47, 7, 66), rgb(255, 59, 157),  purple, rgb(55, 0, 68));
    border-color: azure;
    border-width: 1px;
    margin-top: 20px;
    

    cursor: pointer;
    

}

.lista1{
    color: white;
    background-color: rgb(67, 64, 80);
    text-align: center;
   
    display: inline-block;
     width: 950px;
    height: 500px;
    padding: 10px;
    border: 2px solid rgb(95, 86, 129);
    border-radius: 30px;
    margin-bottom: 200px;
    margin-bottom: 40px;
   
}

img{
    border-radius: 30px;
}
.galeriaartistas{

    color: white;

    display: inline-block;
     width: 950px;
    height: 300px;
    padding: 10px;
    border: 2px solid rgb(95, 86, 129);
    border-radius: 30px;
    margin-left: 202px;
    margin-bottom: 40px;
}

.maistocadas{
    color: rgb(123, 109, 255);

    display: inline-block;
     width: 950px;
    height: 200px;
    padding: 10px;
    border: 2px solid rgb(95, 86, 129);
    border-radius: 30px;

    margin-bottom: 40px;
    margin-left: 202px;
    
}

.top7{
    color: white;

    display: inline-block;
     width: 950px;
    height: 300px;
    padding: 10px;
    border: 2px solid rgb(95, 86, 129);
    border-radius: 30px;
    margin-bottom: 100px;
    margin-left: 202px;
    
}
